body {
    width: 100%;
    background-color: #5083b6;
}

.main {
    max-width: 1410px;
    margin: 0 auto;
    background-color: white !important;
}

.bg-orange {background-color: rgb(247, 34, 16) !important;}

.bg-light-gray {background-color: rgba(219, 218, 218, 0.849) !important;}

.text-orange {color: rgb(247, 34, 16) !important;}

.text-decor-orange {
    text-decoration: solid;
    text-decoration-color: rgb(247, 34, 16) !important;
}

.position-sticky {
    position: sticky;
    top:0 !important;
}

.border-bottom-1 {border-bottom: 15px solid rgb(199, 199, 199);}

.image > img {
    width: 100%;
}

.media > img {
    width: 80px;
    margin: 10px;
}

.turn {
    width: 100%;
}

.turn .turn-elmt {
    margin: 5px;
}

.turn img {
    width: 100%;
}

.py-4 img,
.opinion > img {
    height: 60px;
    width: 60px;
}


.imgs img {
    width: 150px;
}

.imgs .second {
    position: absolute;
    left: 100px;
    top: 20px;
}

.subscribe-btn {
    width: 30%;
    margin-top: 20px;
}

.newsletter .btn {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
}